# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# Docker
*.log
docker-compose.override.yml

# Environment files
.env

# Others
*.egg-info/
